@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.76;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-title {
  font-family: "Titan One", cursive;
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 115px;
    padding-left: 115px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  background-color: #ffffff;
  color: #d41443;
}
.button:hover, .button:focus, .button-accent {
  background-color: #d41443;
  color: #ffffff;
}
.button-accent:hover, .button-accent:focus {
  background-color: #ffffff;
  color: #d41443;
}

.button,
.button-accent {
  transition: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1), color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  position: absolute;
  z-index: 888;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6.25%;
  padding-right: 6.25%;
  width: 100%;
}
header a {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.86;
  text-decoration: none;
  color: #d41443;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header a svg {
  margin-top: 6px;
  margin-right: 19px;
}
header .menu-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
}
header .menu-button .icon-cross {
  display: none;
}
header .menu-button.is-open .icon-cross {
  z-index: 999;
  display: block;
  fill: #ffffff;
}
header .menu-button.is-open .icon-menu {
  display: none;
}
header .b-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 60px 0px;
  height: 100vh;
  background-color: #e17992;
  display: none;
}
header .b-menu.is-open {
  display: block;
}
header .b-menu .buynow {
  padding: 10px 82px 10px 62px;
  margin-left: 21px;
  margin-right: 21px;
  margin-bottom: 19px;
  border-radius: 22px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
}
header .b-menu .buynow ::after {
  display: inline-block;
  content: " ";
  width: 6px;
  height: 8px;
  background-image: url(/mini-arrow.9e383fca.svg);
}
header .b-menu ul :last-child {
  border-bottom: 2px solid #e18298;
}
header .b-menu li {
  display: flex;
  align-items: center;
  padding-left: 21px;
  height: 42px;
  border-top: 2px solid #e18298;
}
header .b-menu li :last-child {
  border-bottom: 2px solid #e18298;
}

.hero {
  height: 502px;
  background-color: #ffb8ca;
}
.hero .container {
  position: relative;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}
.hero .headr-icecream {
  position: absolute;
  top: 92px;
  left: 63.2%;
  transform: translateX(-50%);
}
.hero .back-round {
  position: absolute;
  top: 83px;
  left: 65.3%;
  transform: translateX(-50%);
  height: 346px;
  width: 346px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
.hero .content {
  position: absolute;
  top: 193px;
  left: 6.25%;
}
.hero .content h1 {
  margin-bottom: 19px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff;
}
.hero .content h1 p {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: #d41443;
}
.hero .content .hero-link {
  display: flex;
  align-items: center;
  text-align: center;
}
.hero .content .hero-link li:last-child {
  margin-left: 8px;
}
.hero .content .hero-link a {
  display: inline-block;
  padding: 7px 14px;
  border-radius: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-decoration: none;
}
.hero .content .hero-link .ancor {
  background-color: #d41443;
  color: #ffffff;
}
.hero .content .hero-link .ancor:hover, .hero .content .hero-link .ancor:focus {
  background-color: #7a1129;
  color: #ffffff;
}
.hero .content .hero-link .ancor-accent {
  background-color: #ffffff;
  color: #d41443;
}
.hero .content .hero-link .ancor-accent:hover, .hero .content .hero-link .ancor-accent:focus {
  background-color: #ddd0d0;
  color: #d41443;
}
.hero .content .hero-link .ancor,
.hero .content .hero-link .ancor-accent {
  transition: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1), color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

.section-title.natural {
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.section-title.product {
  color: #d41443;
  font-weight: 400px;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-bottom: 144px;
  text-transform: uppercase;
}

h3::before {
  display: flex;
  content: "";
  width: 26px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(60px);
  background-image: url(/dots.ad258eed.png);
}

.products-name {
  font-family: Titan One;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}

.products-description {
  font-family: DM Sans;
  color: #ffffff;
  font-weight: 700;
  width: 200px;
  font-size: 12px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

.products-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item {
  display: block;
  height: 450px;
  text-align: center;
  border-radius: 24px;
  position: relative;
  padding-top: 140px;
  margin-bottom: 130px;
}

.products-item {
  margin-right: 130px;
}
.products-item:nth-child(1) {
  background-color: #ffa5ba;
  width: 100%;
}
.products-item:nth-child(2) {
  background-color: #f0d1a5;
  width: 100%;
}
.products-item:nth-child(3) {
  background-color: #c2e297;
  width: 100%;
}

.products-picture {
  transform: translateY(-45%);
  position: absolute;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.products-link::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(/arrow.dd9de399.png);
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(40px);
}

.text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #ffffff;
}

.slider {
  font-size: 26px;
  font-weight: 700;
  color: green;
}

.locationfooter {
  border: 2px solid rebeccapurple;
  margin-top: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  padding-top: 5px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer .slogan-wrapper {
  width: 230px;
  margin-bottom: 43px;
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer .slogan-wrapper {
    width: 340px;
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .slogan-wrapper {
    width: 100%;
    margin-bottom: 101px;
  }
}
.footer .slogan-wrapper .slogan {
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .footer .slogan-wrapper .slogan {
    font-size: 26px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .footer .slogan-wrapper .slogan {
    font-size: 30px;
    line-height: 1.13;
  }
}
.footer .slogan-wrapper .slogan-custom {
  display: block;
  margin-top: 17px;
  color: #d41443;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer .slogan-wrapper .slogan-custom {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1280px) {
  .footer .slogan-wrapper .slogan-custom {
    margin-top: 15px;
    font-size: 58px;
  }
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .contacts-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-wrapper {
    width: 435px;
  }
}

.social-links {
  display: flex;
  margin-bottom: 46px;
}
@media screen and (min-width: 1280px) {
  .social-links {
    margin-bottom: 52px;
  }
}
.social-links__item:not(:last-child) {
  margin-right: 28px;
}
.social-links .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: #fea5bb;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .social-links .social-link {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .social-links .social-link {
    width: 34px;
    height: 35px;
  }
}
.social-links .social-link:hover, .social-links .social-link:focus {
  cursor: pointer;
  background-color: #d41443;
}
.social-links .social-link .github-icon {
  width: 18.82px;
  height: 18.82px;
}
@media screen and (min-width: 768px) {
  .social-links .social-link .github-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .social-links .social-link .github-icon {
    height: 21px;
  }
}
.social-links .social-link .telegram-icon {
  width: 19.2px;
  height: 15px;
}
@media screen and (min-width: 768px) {
  .social-links .social-link .telegram-icon {
    width: 20px;
    height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .social-links .social-link .telegram-icon {
    width: 20.5px;
    height: 17px;
  }
}
.social-links .social-link .facebook-icon {
  width: 8.8px;
  height: 19.2px;
}
@media screen and (min-width: 768px) {
  .social-links .social-link .facebook-icon {
    width: 9.3px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .social-links .social-link .facebook-icon {
    height: 21px;
  }
}

.footer-adress .phone {
  color: #000000;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .footer-adress .phone {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-adress .phone {
    font-size: 16px;
  }
}
.footer-adress .phone-custom {
  color: #d41443;
}

.copyright-wrapper {
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .copyright-wrapper {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .copyright-wrapper {
    padding-top: 9.36px;
    padding-bottom: 0;
  }
}

.copyright {
  width: 149px;
  margin-left: auto;
  margin-right: auto;
  color: #907e82;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copyright {
    width: 100%;
    line-height: 1.86;
  }
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: teal;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */