$white-color: #ffffff;
$red-color: #d41443;
$black-color: #000000;
$pink-color: #ffa5ba;
$brawn-color: #907e82;
$red-dots-color: #c7133e;
$yellow-color: #f0d1a5;
$green-color: #c2e297;
$produts-bg-color: #ffb8ca;
$footer-bg-color: #fff5f6;
$menu-bg-color: #e17992;

$ancor-hover-darc: #7a1129;
$ancor-hover-lite: #ddd0d0;
$slider-dot-color: #d9d9d9;
$slider-dot-active-color: #d31342;
$slider-qoute-bg-color: #fafafa;
$slider-qoute-color: #e1e1e1;
$menu-border: #e18298;

$timing-func: cubic-bezier(0.4, 0, 0.2, 1);
