<div class="button">button</div>
<div class="button-accent">button-accent</div>
<article class="example">
  <h1>HTML-фрагменты</h1>

  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code>
      &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt;
    </code>
  </p>
</article>

<pre>
Heder+Hero	Саша	
Products	Вика	
how it’s made?+ Корова/картинки	Юля	
Слайдер	Рома	https://kenwheeler.github.io/slick/
Локация+Футер	Оля	
		
Переменные	Цвета, шрифты	
</pre>
