<header>
    <div class="container">
        <a href="http://#"><img width="50" height="50" src="./images/logo.svg" alt="logo">
            <span class="logo-tytel section-title">icecream</span>
        </a>
        <button class="menu-button" type="button"></button>
        <div class="menu">
            <button type="button" class="buynow">
                Buy now
            </button>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About us</li>
                    <li>How it’s made?</li>
                    <li>Our products</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <div class="iceimg-container">
            <div class="back-round"></div>
            <img width="171" height="410" src="./images/hero_mobile_.png" alt="nice icecream" />
        </div>

        <div class="content">
            <h1>
                ice cream <br> made with <p>passion</p>
            </h1>

            <ul class="hero-link">
                <li><a href="#">Products</a></li>
                <li><a href="#">How it’s made?</a></li>
            </ul>
        </div>
    </div>
</section>