<section class="howitmade">
  <div class="container conteiner_backgroung">
    <h2 class="title1_howitmade">tradition and love</h2>
    <h3 class="title2_howitmade">how it’s made?</h3>
    <div class="text_howitmade">
      <b>
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </b>
      <p>
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="button button_readmore"><b>Read more</b>
        <svg class="icon_header_arrow">
          <!-- <use href="./images/symbol-defs.svg#icon-header_arrow"></use> -->
        </svg>
      </button>
    </div>
    <ul class="howitmade_list">
      <li class="howitmade_lii">
        <picture></picture>
        <h3 class="number_howitmade">721</h3>
        <b>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</b>
      </li>
      <li class="howitmade_lii">
        <picture></picture>
        <h3 class="number_howitmade">16Kg</h3>
        <b>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</b>
      </li>
      <li class="howitmade_lii">
        <picture></picture>
        <h3 class="number_howitmade">84</h3>
        <b>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</b>
      </li>
    </ul>

  <picture></picture>
  </div>
</section>