<section id="howitmade" class="howitmade">
  <div class="container conteiner_backgroung">
    <h2 class="title1_howitmade">tradition and love</h2>
    <h3 class="title2_howitmade">how it’s made?</h3>
    <div class="text_howitmade">
      <picture class="cow-picture">
      <source
          srcset="./images/cow_decktop.png 1x, ./images/cow_decktop_1@2x.png 2x"
          media="(min-width: 1280px)">
        <source
          srcset="./images/cow_decktop.webp 1x, ./images/cow_decktop_1@2x.webp 2x" type="image/webp"
          media="(min-width: 1280px)">

        <source
          srcset="./images/cow_tablet.png 1x, ./images/cow_tablet_1@2x.png 2x"
          media="(min-width: 768px)">
        <source
          srcset="./images/cow_tablet.webp 1x, ./images/cow_tablet_1@2x.webp 2x" type="image/webp"
          media="(min-width: 768px)">
      
        <source
          srcset="./images/cow_mobile.png 1x, ./images/cow_mobile1@2x.png 2x"
          media="(min-width: 320px)">
        <source
          srcset="./images/cow_mobile.webp 1x, ./images/cow_mobile1@2x.webp 2x" type="image/webp"
          media="(min-width: 320px)">
              <img class="cow_images" src="./images/cow_mobile.png" alt="Корова">
        </picture>
        <div class="p_buttooom">
          <p class="lorem1">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
            cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
            justo fringilla.
          </p>
          <p class="lorem2">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
            Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
            suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt. 
          </p>
          <p class="lorem3">Aliquam erat volutpat. Aenean accumsan.</p>
          <button type="button" class="button button_readmore"><b>Read more</b>
            <svg class="icon_header_arrow">
              <use href="./images/vector-right.svg#icon-Vector_right"></use>
            </svg>
          </button>
        </div>
      </div>
    <ul class="howitmade_list">
      <li class="howitmade_lii">
        <div class="imag-howitmade">
          <img src="./images/icon_first.png" width="33" height="50"/>
        </div>
        <h3 class="number_howitmade">721</h3>
        <p class="li_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="howitmade_lii">
        <div class="imag-howitmade">
          <img src="./images/icon_second.png" width="50" height="50"/>
        </div>
        <h3 class="number_howitmade">16Kg</h3>
        <p class="li_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="howitmade_lii">
        <div class="imag-howitmade">
          <img src="./images/icon_thirth.png" width="44" height="50"/>
        </div>
        <h3 class="number_howitmade">84</h3>
        <p class="li_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="picture_block">
    <picture class="kartinki_botom">
      <source
      srcset="./images/kartinki_decktop_1.jpg 1x, ./images/kartinki_decktop_1@2x.jpg 2x"
      media="(min-width: 1280px)">
      <source
      srcset="./images/kartinki_decktop_1@2x.jpg 1x, ./images/kartinki_decktop_1@2x.webp 2x" type="image/webp"
      media="(min-width: 1280px)">
  
    <source
      srcset="./images/kartinki_tablet.jpg 1x, ./images/kartinki_tablet_1@2x.jpg 2x"
      media="(min-width: 768px)">
    <source
      srcset="./images/kartinki_tablet.webp 1x, ./images/kartinki_tablet_1@2x.webp 2x" type="image/webp"
      media="(min-width: 768px)">
  
    <source
      srcset="./images/kartinki_mobile.jpg 1x, ./images/kartinki_mobile_1@2x.jpg 2x"
      media="(min-width: 320px)">
    <source
      srcset="./images/kartinki_mobile.webp 1x, ./images/kartinki_mobile_1@2x.webp 2x" type="image/webp"
      media="(min-width: 320px)">
          <img src="./images/kartinki_mobile.jpg" alt="Картинки">
    </picture>
  </div>
</section>

