<section class="locations">
  <div class="locations background"></div>
  <div class="container">
    <h2 class="locations-title visually-hidden">Our locations</h2>
    <ul class="locations-list">
      <li class="locations-item">
        <h3 class="locations-item-title">CAFE</h3>
        <p class="locations-item__city-first">Chicago</p>
        <p class="locations-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="line-first"></div>
        <ul class="list">
          <li class="locations-item__schedule">
            <p class="locations-item__workdays">Monday - Friday</p>
            <div class="locations-item__workdays__schedule">
              <span class="locations-item__time">06:00 AM - 10:00 PM</span>
            </div>
            <p class="locations-item__weekend">Saturday - Sunday</p>
            <div class="locations-item__weekend__schedule">
              <span class="locations-item__time">08:00 AM - 16:00 PM</span>
            </div>
            <div class="line-second"></div>
          </li>
          <li class="locations-item__contacts">
            <address>
              <a
                href="tel:+610383766284"
                class="locations-item__contacts__info"
              >
                +61(0) 383 766 284
              </a>
              <br />
              <a
                href="mailto:noreply@envato.com"
                class="locations-item__contacts__info"
              >
                noreply@envato.com
              </a>
            </address>
          </li>
        </ul>
      </li>
      <li class="locations-item">
        <h3 class="locations-item-title__accent">FOODTRUCK</h3>
        <p class="locations-item__city-second">Los Angeles</p>
        <p class="locations-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="line-first"></div>
        <ul class="list">
          <li class="locations-item__schedule">
            <p class="locations-item__workdays">Monday - Friday</p>
            <div class="locations-item__workdays__schedule">
              <span class="locations-item__time">06:00 AM - 10:00 PM</span>
            </div>
            <p class="locations-item__weekend">Saturday - Sunday</p>
            <div class="locations-item__weekend__schedule">
              <span class="locations-item__time">08:00 AM - 16:00 PM</span>
            </div>
            <div class="line-second"></div>
          </li>
          <li class="locations-item__contacts">
            <address>
              <a
                href="tel:+610383766284"
                class="locations-item__contacts__info"
              >
                +61(0) 383 766 284
              </a>
              <br />
              <a
                href="mailto:noreply@envato.com"
                class="locations-item__contacts__info"
              >
                noreply@envato.com
              </a>
            </address>
          </li>
        </ul>
      </li>
      <li class="locations-item">
        <h3 class="locations-item-title">CAFE</h3>
        <p class="locations-item__city-third">New York</p>
        <p class="locations-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="line-first"></div>
        <ul class="list">
          <li class="locations-item__schedule">
            <p class="locations-item__workdays">Monday - Friday</p>
            <div class="locations-item__workdays__schedule">
              <span class="locations-item__time">06:00 AM - 10:00 PM</span>
            </div>
            <p class="locations-item__weekend">Saturday - Sunday</p>
            <div class="locations-item__weekend__schedule">
              <span class="locations-item__time">08:00 AM - 16:00 PM</span>
            </div>
            <div class="line-second"></div>
          </li>
          <li class="locations-item__contacts">
            <address>
              <a
                href="tel:+610383766284"
                class="locations-item__contacts__info"
              >
                +61(0) 383 766 284
              </a>
              <br />
              <a
                href="mailto:noreply@envato.com"
                class="locations-item__contacts__info"
              >
                noreply@envato.com
              </a>
            </address>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="locations-button list">
      <li>
        <button type="button" class="locations-store">
          Our Locations
          <svg class="locations-store-svg">
            <!-- <use href=""></use> -->
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="locations-franchise">
          Franchise
          <svg class="locations-franchis svg">
            <!-- <use href=""></use> -->
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
