<!-- Секция продукты -->
<section class="products-section" id="products">
  <div class="container">
    <h2 class="goods"><span class="natural">100&#37; natural</span>products</h2>
<!-- Блок с продукцией -->
      <ul class="products list">
  <!-- Мороженое рожок -->
            <li class="products-item">
              <picture class="products-picture">
              <source
                srcset="./images/product_desktop_.png 1x, ./images/product_desktop_@2x.png 2x"
                media="(min-width: 1280px)">
              <source
                srcset="./images/product_desktop_.webp 1x, ./images/product_desktop_@2x.webp 2x" type="image/webp"
                media="(min-width: 1280px)">

              <source
                srcset="./images/product_tablet_.png 1x, ./images/product_tablet_@2x.png 2x"
                media="(min-width: 768px)">
              <source
                srcset="./images/product_tablet_.webp 1x, ./images/product_tablet_@2x.webp 2x" type="image/webp"
                media="(min-width: 768px)">
            
              <source
                srcset="./images/product_mobile_.png 1x, ./images/product_mobile_@2x.png 2x"
                media="(min-width: 320px)">
              <source
                srcset="./images/product_mobile_.webp 1x, ./images/product_mobile_@2x.webp 2x" type="image/webp"
                media="(min-width: 320px)">
                    <img class="products-image" src="./images/product_mobile_.png" alt="Мороженое рожок">
              </picture>

                <h3 class="products-name title dots">ice cream</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <a class="products-link link" href=""></a>
              </li>
<!-- Холодный кофе -->
            <li class="products-item">
                <picture class="products-picture">
                  <source
                srcset="./images/icecofe_desktop_.png 1x, ./images/icecofe_desktop_@2x.png 2x"
                media="(min-width: 1280px)">
              <source
                srcset="./images/icecofe_desktop_.webp 1x, ./images/icecofe_desktop_@2x.webp 2x" type="image/webp"
                media="(min-width: 1280px)">

              <source
                srcset="./images/icecofe_tablet_.png 1x, ./images/icecofe_tablet_@2x.png 2x"
                media="(min-width: 768px)">
              <source
                srcset="./images/icecofe_tablet_.webp 1x, ./images/icecofe_tablet_@2x.webp 2x" type="image/webp"
                media="(min-width: 768px)">
              
                  <source
                        srcset="./images/icecofe_mobile_.png 1x, ./images/icecofe_mobile_@2x.png 2x"
                        media="(min-width: 320px)">
                  <source
                        srcset="./images/icecofe_mobile_.webp 1x, ./images/icecofe_mobile_@2x.webp 2x" type="image/webp"
                        media="(min-width: 320px)">
                     <img class="products-image" src="./images/icecofe_mobile_.png" alt="Холодный кофе">
                </picture>

                <h3 class="products-name title dots">ice cream</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <a class="products-link link" href=""></a>
              </li>
<!-- Шейкмилк -->
              <li class="products-item">
                <picture class="products-picture">
                  <source
                srcset="./images/milkshakes_desktop_.png 1x, ./images/milkshakes_desktop_@2x.png 2x"
                media="(min-width: 1280px)">
              <source
                srcset="./images/milkshakes_desktop_.webp 1x, ./images/milkshakes_desktop_@2x.webp 2x" type="image/webp"
                media="(min-width: 1280px)">

              <source
                srcset="./images/milkshakes_tablet_.png 1x, ./images/milkshakes_tablet_@2x.png 2x"
                media="(min-width: 768px)">
              <source
                srcset="./images/milkshakes_tablet_.webp 1x, ./images/milkshakes_tablet_@2x.webp 2x" type="image/webp"
                media="(min-width: 768px)">
            
                  <source
                        srcset="./images/milkshakes_mobile_.png 1x, ./images/milkshakes_mobile_@2x.png 2x"
                        media="(min-width: 320px)">
                  <source
                        srcset="./images/milkshakes_mobile_.webp 1x, ./images/milkshakes_mobile_@2x.webp 2x" type="image/webp"
                        media="(min-width: 320px)">
                    <img class="products-image" src="./images/milkshakes_mobile_.png" alt="Молочный шейк">
                </picture>

                <h3 class="products-name title dots">ice cream</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <a class="products-link link" href=""></a>
              </li>
      </ul>
  </div>
</section>