<section class="section-slider">
  <div class="container">
    <div class="slider-container">
      <div class="slider-content">
        <div class="slider-img-block">
          <picture class="slider-img">
            <source
              srcset="./images/girl_01.jpg 1x, ./images/girl_01@2x.jpg 2x ./images/girl_01@3x.jpg 3x"
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/girl_01.jpg 1x, ./images/girl_01@2x.jpg 2x ./images/girl_01@3x.jpg 3x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/girl_01.jpg 1x, ./images/girl_01@2x.jpg 2x ./images/girl_01@3x.jpg 3x"
              media="(min-width:320px)"
            />
            <img
              src="./images/girl_01.jpg"
              alt="Фото довольный клиент"
              aria-label="Довольный клиент"
            />
          </picture>
        </div>
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="slider-dots">
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
        </ul>
        <h2 class="slider-caption">Emily, Los Angeles</h2>
      </div>
      <div class="slider-content">
        <div class="slider-img-block">
          <picture class="slider-img">
            <source
              srcset="./images/girl_02.jpg 1x, ./images/girl_02@2x.jpg 2x ./images/girl_02@3x.jpg 3x"
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/girl_02.jpg 1x, ./images/girl_02@2x.jpg 2x ./images/girl_02@3x.jpg 3x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/girl_02.jpg 1x, ./images/girl_02@2x.jpg 2x ./images/girl_02@3x.jpg 3x"
              media="(min-width:320px)"
            />
            <img
              src="./images/girl_02.jpg"
              alt="Фото довольный клиент"
              aria-label="Довольный клиент"
            />
          </picture>
        </div>
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="slider-dots">
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
        </ul>
        <h2 class="slider-caption">Emily, Los Angeles</h2>
      </div>
      <div class="slider-content">
        <div class="slider-img-block">
          <picture class="slider-img">
            <source
              srcset="./images/girl_03.jpg 1x, ./images/girl_03@2x.jpg 2x ./images/girl_03@3x.jpg 3x"
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/girl_03.jpg 1x, ./images/girl_03@2x.jpg 2x ./images/girl_03@3x.jpg 3x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/girl_03.jpg 1x, ./images/girl_03@2x.jpg 2x ./images/girl_03@3x.jpg 3x"
              media="(min-width:320px)"
            />
            <img
              src="./images/girl_03.jpg"
              alt="Фото довольный клиент"
              aria-label="Довольный клиент"
            />
          </picture>
        </div>
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="slider-dots">
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
          <li class="slider-dots-item">
            <svg width="4" height="4">
              <use href="./images/symbol-defs.svg#slider-red-dot"></use>
            </svg>
          </li>
        </ul>
        <h2 class="slider-caption">Emily, Los Angeles</h2>
      </div>
    </div>
  </div>
</section>
