header {
  position: absolute;
  z-index: 888;
  width: 100%;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 6.25%;
    padding-right: 6.25%;
    padding-top: 6px;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding-left: 4.427083333333333%;
      padding-right: 4.427083333333333%;

      padding-top: 37px;
      width: 768px;
    }

    @media screen and (min-width: 1280px) {
      padding-left: 46px;
      padding-right: 115px;
      width: 1280px;
    }
  }

  a {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.86;
    text-decoration: none;
    color: $red-color;

    text-transform: uppercase;

    svg {
      margin-right: 19px;
      border-radius: 50%;
      border: 1px solid transparent;

      transition: 250ms $timing-func;

      &:hover {
        border-radius: 50%;
        border: 1px solid $white-color;
      }
    }
  }
  .menu-button {
    position: relative;
    z-index: 998;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    width: 25px;
    height: 25px;

    border: none;
    background-color: inherit;

    @media screen and (min-width: 768px) {
      margin-right: 18px;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }

    &:focus {
      outline: none;
      border: 1px dotted $ancor-hover-darc;
      border-radius: 2px;
    }
    .icon-cross {
      display: none;
    }
    &.is-open {
      @media screen and (min-width: 768px) {
        top: -30px;
        margin-right: -175px;
      }
    }
    &.is-open .icon-cross {
      display: block;
      fill: $white-color;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }

  .buynow {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      padding: 10px 34px 10px 36px;
    }
    @media screen and (min-width: 768px) {
      display: block;
      padding: 12px 34px 12px 36px;
    }
  }
  .b-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    padding: 60px 0px;

    height: 100vh;

    background-color: $menu-bg-color;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    display: none;

    @media screen and (min-width: 1280px) {
      position: static;
      display: block;

      padding: 0 0px;

      height: 100%;

      background-color: transparent;
      filter: none;
    }

    &.is-open {
      display: block;
    }

    .buynow {
      display: block;

      margin-left: 21px;
      margin-right: 21px;
      margin-bottom: 19px;

      @media screen and (min-width: 480px) {
        padding: 10px 36px;
      }
      @media screen and (min-width: 768px) {
        padding: 10px 48px;
      }
      @media screen and (min-width: 1280px) {
        display: none;
      }
    }

    ul {
      &:last-child {
        border-bottom: 2px solid $menu-border;

        @media screen and (min-width: 1280px) {
          border-bottom: none;
        }
      }

      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    li {
      display: flex;
      align-items: center;

      padding-left: 21px;

      height: 42px;

      border-top: 2px solid $menu-border;
      a {
        text-transform: none;
        display: block;

        font-size: 14px;
        line-height: 1.29;

        font-style: normal;
        font-weight: 700;

        color: $white-color;

        transition: 250ms $timing-func;

        @media screen and (min-width: 1280px) {
          font-size: 16px;
          line-height: 1.31;
        }

        &:hover {
          color: $red-color;
        }
      }
      @media screen and (min-width: 1280px) {
        display: block;

        padding-left: 0px;

        height: 100%;

        border-top: none;

        &:not(:last-child) {
          margin-right: 35px;
        }
      }
    }
  }
}

.hero {
  height: 502px;
  background-color: $produts-bg-color;
  overflow: hidden;
  img {
    max-width: none;
  }

  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }

  .container {
    position: relative;

    width: 100%;
    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }

  .headr-icecream {
    position: absolute;
    top: 92px;
    left: 63.2%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
      top: 63px;
      left: 58.5%;
    }
    @media screen and (min-width: 1280px) {
      top: 108px;
      left: 59.3%;
    }
  }

  .back-round {
    position: absolute;
    top: 83px;
    transform: translateX(-50%);
    left: 65.3125%;

    height: 346px;
    width: 346px;

    border-radius: 50%;
    background-color: #ffa5ba;
    @media screen and (min-width: 768px) {
      top: 31px;
      left: 61.06770833333333%;

      height: 324px;
      width: 324px;
    }
    @media screen and (min-width: 1280px) {
      top: 52px;
      left: 58.125%;

      height: 538px;
      width: 538px;
    }
  }

  .content {
    position: absolute;
    top: 193px;
    left: 4.427083333333333%;
    @media screen and (min-width: 768px) {
      top: 102px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @media screen and (min-width: 1280px) {
      top: 171px;
    }

    h1 {
      margin-bottom: 19px;

      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.15;
      text-transform: uppercase;
      color: $white-color;

      @media screen and (min-width: 768px) {
        margin-bottom: 20px;

        font-size: 22px;
        line-height: 1.14;
        letter-spacing: 0.04em;
      }
      @media screen and (min-width: 1280px) {
        margin-bottom: 25px;

        font-size: 38px;
        line-height: 1.16;
        letter-spacing: 0.04em;
      }
      p {
        font-size: 48px;
        line-height: 0.96;

        text-transform: uppercase;

        color: $red-color;
        @media screen and (min-width: 768px) {
          font-size: 34px;
          line-height: 0.9;
          letter-spacing: 0.04em;
        }
        @media screen and (min-width: 1280px) {
          font-size: 58px;
        }
      }
    }

    .hero-link {
      display: flex;
      align-items: center;
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-bottom: 19px;
      }
      @media screen and (min-width: 1280px) {
        margin-bottom: 56px;
      }

      li:last-child {
        margin-left: 8px;
      }

      a {
        display: inline-block;
        padding: 7px 14px;

        border-radius: 20px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        text-decoration: none;
        @media screen and (min-width: 768px) {
          padding: 7px 12px;
        }
        @media screen and (min-width: 1280px) {
          font-size: 14px;
          line-height: 1.3;
          padding: 11px 20px;
        }
      }

      .ancor {
        background-color: $red-color;
        color: $white-color;
        border: 1px solid transparent;

        &:hover,
        &:focus {
          background-color: $red-dots-color;
          color: $white-color;
          border: 1px solid $hover-buttom-howitmade;
        }
        &-accent {
          background-color: $white-color;
          color: $red-color;
          border: 1px solid transparent;

          &:hover,
          &:focus {
            background-color: $hover-buttom-howitmade;
            color: $red-color;
            border: 1px solid $ancor-hover-darc;
          }
        }
      }

      .ancor,
      .ancor-accent {
        transition: background-color 250ms $timing-func,
          color 250ms $timing-func;
      }
    }

    .hero-milk-container {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;

        .hero-description {
          display: flex;
          flex-direction: column;
          margin-left: -4px;
          width: 114px;

          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 8px;
          line-height: 1.5;
          color: $white-color;

          @media screen and (min-width: 1280px) {
            width: 200px;

            margin-left: 30px;
            font-size: 14px;
            line-height: 1.4;
          }

          p {
            margin-bottom: 7px;

            @media screen and (min-width: 768px) {
              margin-bottom: 20px;
            }
          }
          svg {
            transition: border 250ms $timing-func;

            &:hover,
            &:focus {
              outline: none;
              border-radius: 50%;
              background-color: $hover-buttom-howitmade;
              color: $red-color;
              border: 1px solid $ancor-hover-darc;
            }

            @media screen and (min-width: 768px) {
              width: 18px;
              height: 18px;
            }
            @media screen and (min-width: 1280px) {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
  .info {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    .info-data {
      position: absolute;
      top: 94px;
      right: 4.4%;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media screen and (min-width: 1280px) {
        right: 7.6%;
        top: 156px;
      }

      & li {
        margin-bottom: 13px;

        height: 43px;

        @media screen and (min-width: 1280px) {
          margin-bottom: 15px;
          height: 77px;
        }
      }

      .ring {
        margin-left: auto;
        margin-bottom: -15px;

        width: 16px;
        height: 16px;

        background-color: $white-color;
        border-radius: 50%;

        @media screen and (min-width: 1280px) {
          margin-bottom: -26px;

          width: 30px;
          height: 30px;
        }
      }
      .data-content {
        margin-right: 8px;

        font-family: Titan One;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.15;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $red-color;
        @media screen and (min-width: 1280px) {
          margin-right: 15px;
          margin-bottom: 11px;

          font-size: 46px;
          line-height: 1.15;
        }
      }
      .name {
        margin-right: 8px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        text-align: right;

        color: $white-color;

        @media screen and (min-width: 1280px) {
          margin-right: 18px;
          font-size: 14px;
          line-height: 1.3px;
        }
      }
    }
    .tasty {
      position: absolute;
      right: 4.817708333333333%;
      top: 266px;

      @media screen and (min-width: 1280px) {
        position: absolute;
        right: 8.515625%;
        top: 433px;
      }
    }
  }
}
