header {
  position: absolute;
  z-index: 888;
  width: 100%;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 6.25%;
    padding-right: 6.25%;
    width: 100%;
  }

  a {
    svg {
      margin-top: 6px;
      margin-right: 19px;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.86;
    text-decoration: none;
    color: $red-color;

    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  .menu-button {
    position: relative;
    display: flex;
    align-items: center;

    border: none;
    background-color: inherit;

    .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      z-index: 999;

      display: block;
      fill: $white-color;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }

  .b-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    padding: 60px 0px;

    height: 100vh;

    background-color: $menu-bg-color;

    display: none;
    &.is-open {
      display: block;
    }

    .buynow {
      padding: 10px 82px 10px 62px;

      margin-left: 21px;
      margin-right: 21px;
      margin-bottom: 19px;

      border-radius: 22px;
      border: none;

      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      display: flex;
      align-items: center;
      text-align: center;

      color: $red-color;
      ::after {
        display: inline-block;
        content: ' ';
        width: 6px;
        height: 8px;
        background-image: url(../images/mini-arrow.svg);
      }
    }
    ul {
      :last-child {
        border-bottom: 2px solid $menu-border;
      }
    }
    li {
      display: flex;
      align-items: center;
      padding-left: 21px;
      height: 42px;
      border-top: 2px solid $menu-border;
      :last-child {
        border-bottom: 2px solid $menu-border;
      }
    }
  }
}

.hero {
  height: 502px;
  background-color: $produts-bg-color;

  .container {
    position: relative;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
  }

  .headr-icecream {
    position: absolute;
    top: 92px;
    left: 63.2%;
    transform: translateX(-50%);
  }

  .back-round {
    position: absolute;
    top: 83px;
    left: 65.3%;
    transform: translateX(-50%);

    height: 346px;
    width: 346px;

    border-radius: 50%;
    background-color: #ffa5ba;
  }

  .content {
    position: absolute;
    top: 193px;
    left: 6.25%;

    h1 {
      margin-bottom: 19px;

      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.15;
      // letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white-color;

      p {
        font-size: 48px;
        line-height: 0.96;

        text-transform: uppercase;

        color: $red-color;
      }
    }

    .hero-link {
      display: flex;
      align-items: center;
      text-align: center;

      li:last-child {
        margin-left: 8px;
      }

      a {
        display: inline-block;
        padding: 7px 14px;

        border-radius: 20px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-decoration: none;
      }

      .ancor {
        background-color: $red-color;
        color: $white-color;

        &:hover,
        &:focus {
          background-color: $ancor-hover-darc;
          color: $white-color;
        }

        &-accent {
          background-color: $white-color;
          color: $red-color;

          &:hover,
          &:focus {
            background-color: $ancor-hover-lite;
            color: $red-color;
          }
        }
      }

      .ancor,
      .ancor-accent {
        transition: background-color 1250ms $timing-func,
          color 1250ms $timing-func;
      }
    }
  }
}
