header {
  position: absolute;
  z-index: 888;
  width: 100%;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 6.25%;
    padding-right: 6.25%;
    width: 100%;
  }

  a {
    svg {
      margin-top: 6px;
      margin-right: 19px;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.86;
    text-decoration: none;
    color: $red-color;

    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  .menu-button {
    position: relative;
    z-index: 998;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    border: none;
    background-color: inherit;
    &:focus {
      outline: none;
      border: 1px dotted $ancor-hover-darc;
      border-radius: 2px;
    }
    .icon-cross {
      display: none;
    }
    &.is-open {
      @media screen and (min-width: 768px) {
        margin-right: -650px;
      }
    }
    &.is-open .icon-cross {
      display: block;
      fill: $white-color;
    }

    &.is-open .icon-menu {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-right: -225px;
    }
  }

  .buynow {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      padding: 10px 34px 10px 36px;
    }
  }
  .b-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    padding: 60px 0px;

    height: 100vh;

    background-color: $menu-bg-color;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    display: none;
    &.is-open {
      display: block;
    }
    .buynow {
      display: block;

      margin-left: 21px;
      margin-right: 21px;
      margin-bottom: 19px;

      @media screen and (min-width: 480px) {
        padding: 10px 36px;
      }
      @media screen and (min-width: 768px) {
        padding: 10px 48px;
      }
    }
    ul {
      :last-child {
        border-bottom: 2px solid $menu-border;
      }
    }
    li {
      display: flex;
      align-items: center;

      padding-left: 21px;

      height: 42px;

      border-top: 2px solid $menu-border;

      color: $white-color;
      &:hover {
        color: $red-color;
      }
      :last-child {
        border-bottom: 2px solid $menu-border;
      }
    }
  }
}

.hero {
  height: 502px;
  background-color: $produts-bg-color;
  @media screen and (min-width: 768px) {
    height: 399px;
  }

  .container {
    position: relative;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
  }

  .headr-icecream {
    position: absolute;
    top: 92px;
    left: 63.2%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
      top: 63px;
      left: 58.5%;
    }
  }

  .back-round {
    position: absolute;
    top: 83px;
    left: 65.3%;
    transform: translateX(-50%);

    height: 346px;
    width: 346px;

    border-radius: 50%;
    background-color: #ffa5ba;
    @media screen and (min-width: 768px) {
      top: 31px;
      left: 61%;

      height: 324px;
      width: 324px;
    }
  }

  .content {
    position: absolute;
    top: 193px;
    left: 6.25%;
    @media screen and (min-width: 768px) {
      top: 102px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    h1 {
      margin-bottom: 19px;

      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.15;
      // letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white-color;

      @media screen and (min-width: 768px) {
        margin-bottom: 20px;

        font-size: 22px;
        line-height: 1.14;
        letter-spacing: 0.04em;
      }
      p {
        font-size: 48px;
        line-height: 0.96;

        text-transform: uppercase;

        color: $red-color;
        @media screen and (min-width: 768px) {
          font-size: 34px;
          line-height: 0.9;
          letter-spacing: 0.04em;
        }
      }
    }

    .hero-link {
      display: flex;
      align-items: center;
      text-align: center;

      li:last-child {
        margin-left: 8px;
      }

      a {
        display: inline-block;
        padding: 7px 14px;

        border-radius: 20px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-decoration: none;
        @media screen and (min-width: 768px) {
          padding: 7px 12px;
        }
      }

      .ancor {
        background-color: $red-color;
        color: $white-color;

        &:hover,
        &:focus {
          background-color: $ancor-hover-darc;
          color: $white-color;
        }
        &-accent {
          background-color: $white-color;
          color: $red-color;

          &:hover,
          &:focus {
            background-color: $ancor-hover-lite;
            color: $red-color;
          }
        }
      }

      .ancor,
      .ancor-accent {
        transition: background-color 1250ms $timing-func,
          color 1250ms $timing-func;
      }
    }

    .hero-milk-container {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        .hero-description {
          display: flex;
          flex-direction: column;
          width: 114px;

          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 8px;
          line-height: 1.5;
          color: $white-color;
        }
      }
    }
  }
}
