.howitmade {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 58px;
  margin: 0;
  background-color: $footer-bg-color;
  background-image: url('./../images/milk_mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 766px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    background-image: none;
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    background-image: url(./../images/milk_decktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: 0px 342px;
    padding-bottom: 139px;
  }
}

.title1_howitmade {
  font-family: Titan One;
  color: $pink-color;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 15px;
  }
}
.title2_howitmade {
  font-family: Titan One;
  color: $red-color;
  font-weight: 400px;
  font-size: 34px;
  line-height: 38, 93px;
  letter-spacing: 0.04em;
  margin-bottom: 26px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
.text_howitmade {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.p_buttooom {
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-left: 17px;
    padding-right: 19px;
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    margin-left: 74px;
    padding-right: 16px;
  }
}
.cow-picture {
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    padding-left: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 55px;
    padding-left: 0x;
  }
}
.lorem1 {
  margin-top: 46px;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  @media screen and (min-width: 768px) {
    margin-top: 100px;
    font-size: 14px;
    line-height: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 106px;
    font-size: 16px;
    line-height: 28px;
  }
}
.lorem2 {
  margin-top: 47px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: $brawn-color;
  @media screen and (min-width: 768px) {
    margin-top: 47px;
    font-size: 14px;
    line-height: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
    font-size: 14px;
    line-height: 27px;
  }
}
.lorem3 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: $brawn-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
    font-size: 14px;
    line-height: 27px;
  }
}
.button_readmore {
  font-family: DM Sans;
  width: 176px;
  height: 44px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  border-radius: 22px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  line-height: 20, 83px;
  padding-left: 37px;
  margin-top: 17px;

  &:hover {
    background-color: $hover-buttom-howitmade;
    color: $red-color;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}
.icon_header_arrow {
  width: 7px;
  height: 10px;
  margin-left: 17px;
  margin-top: 2px;
}
.li_text {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 28px;
    width: 330px;
  }
}

.howitmade_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 39px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 66px;
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 146px;
    margin-left: 16px;
  }
}
.howitmade_lii {
  width: 100%;
  margin-bottom: 38px;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin-right: 60px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
  }
}
.number_howitmade {
  width: 98px;
  height: 56px;
  font-family: Titan One;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: $red-color;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 66px;
  }
}
.picture_block {
  height: auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
  overflow: hidden;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
  .kartinki-bottom {
    display: flex;
    justify-content: center;
  }
}
.images-block_container {
  background: linear-gradient(0deg, #fff 60%, #fff5f6 0);
}
