.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.locations {
  background: $footer-bg-color;
  padding-bottom: 113px;
  @media screen and (min-width: 768px) {
    padding-bottom: 165px;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(./../images/dropplets.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 16%;
  }
  & .container {
    // background-color: #fff5f6;
    // z-index: 1;
    // position: relative;
  }
  &.background {
    background-color: $white-color;
    height: 84px;
    @media screen and (min-width: 768px) {
      height: 78px;
    }
    @media screen and (min-width: 1200px) {
      height: 102px;
    }
  }
  &-button {
    @media screen and (max-width: 767px) {
      margin-top: 54px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      // width: 380px;
      // margin: 0 auto;
    }
    @media screen and (min-width: 1280px) {
      // width: 393px;
      margin-left: 330px;
      margin-right: 330px;
    }
  }
  &-store {
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 17px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white-color;
    fill: $white-color;
    width: 161px;
    background: #d41342;
    border-radius: 22px;
    border: 1px solid transparent;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      margin-right: 14.5px;
      margin-bottom: 0;
      width: 191px;

      padding-left: 30px;
      text-align: center;
      &:hover,
      &:focus {
        background: #d41342;
      }
    }
    @media screen and (min-width: 1280px) {
      width: 198px;
      margin-right: 15px;
      margin-bottom: 0;
      padding-left: 35px;
      &:hover,
      &:focus {
        background: #d41342;
      }
    }
    &-svg {
      fill: $white-color;
      color: $white-color;
      width: 7px;
      height: 10px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        margin-left: 13.5px;
      }
      @media screen and (min-width: 1280px) {
      }
    }
  }
  &-franchise {
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 161px;
    height: 44px;
    color: $red-color;
    background: #ffffff;
    border-radius: 22px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: #ecebeb;
    }
    @media screen and (min-width: 768px) {
      width: 174px;

      font-size: 16px;
      padding-left: 38px;
    }
    @media screen and (min-width: 1280px) {
      width: 180px;
      padding-left: 39px;
    }
    &.svg {
      width: 7px;
      height: 10px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        margin-right: 38px;
      }
    }
  }
}

.locations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -84px;
  padding-bottom: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 81px;
    margin-top: -78px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-bottom: 86px;
    margin-top: -102px;
  }
}

.locations-item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-top: 43px;
  padding-bottom: 43px;
  margin-top: 0px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  margin-right: 30px;
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 544px;
    padding-top: 0;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    margin-left: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 572px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    margin-left: 0;
  }
  &-title {
    margin-left: 20px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 80px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white-color;
    background: $yellow-color;
    border-radius: 4px;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
      margin: 50px 116px 30px 31px;
      width: 73px;
      height: 28px;
      font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
      margin: 51px 214px 32px 43px;
    }
    &__accent {
      @media screen and (max-width: 767px) {
      }
      margin-bottom: 25px;
      margin-left: 20px;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.83;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.04em;
      color: $white-color;
      background: $green-color;
      border-radius: 4px;
      width: 130px;
      @media screen and (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        margin: 50px 50px 30px 31px;
        width: 138px;
        height: 28px;
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) {
        margin: 52px 149px 32px 43px;
      }
    }
  }
  &__city-first {
    top: 84px;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 57.01px;
    height: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $black-color;
    font-style: normal;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-left: 31px;
      padding-right: 131px;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding-left: 43px;
      padding-right: 221px;
      margin-bottom: 10px;
    }
  }
  &__city-second {
    top: 84px;
    padding-left: 20px;
    margin-bottom: 10px;
    height: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $black-color;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-left: 31px;
      padding-right: 104px;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding-left: 43px;
      padding-right: 190px;
      margin-bottom: 10px;
    }
  }
  &__city-third {
    top: 84px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: $black-color;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-left: 31px;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding-left: 44px;
      margin-bottom: 10px;
    }
  }
  &__description {
    box-sizing: content-box;
    top: 116px;
    padding-right: 21px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 185px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $brawn-color;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      margin-bottom: 30px;
      padding-right: 32px;
      padding-left: 31px;
      width: 158px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      margin-bottom: 32px;
      padding-right: 44px;
      padding-left: 43px;
      width: 243px;
    }
  }
  &__workdays {
    box-sizing: content-box;
    top: 202px;
    margin-top: 25px;
    padding-right: 93px;
    padding-left: 20px;
    width: 107px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $black-color;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      padding-right: 31px;
      padding-left: 31px;
      margin-top: 30px;
      width: 143px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding-right: 153px;
      padding-left: 43px;
      margin-top: 32px;
      width: 134px;
    }
    &__schedule {
      box-sizing: content-box;
      top: 222px;
      width: 162px;
      padding-left: 20px;
      padding-right: 38px;
      @media screen and (max-width: 767px) {
      }
      @media screen and (min-width: 768px) {
        font-size: 14px;
        padding-left: 31px;
        padding-right: 31px;
        margin-bottom: 16px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        padding-left: 43px;
        padding-right: 124px;
        margin-bottom: 15px;
      }
    }
  }
  &__weekend {
    box-sizing: content-box;
    top: 250px;
    margin-top: 10px;
    padding-right: 79px;
    padding-left: 20px;
    width: 120px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $black-color;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      width: 143px;
      height: 26px;
      padding-right: 31px;
      padding-left: 31px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      width: 152px;
      height: 30px;
      padding-right: 135px;
      padding-left: 43px;
    }
    &__schedule {
      box-sizing: content-box;
      top: 275px;
      width: 138px;
      margin-top: 4px;
      margin-bottom: 25px;
      padding-left: 20px;
      padding-right: 62px;
      @media screen and (max-width: 767px) {
      }
      @media screen and (min-width: 768px) {
        width: 158px;
        padding-left: 31px;
        padding-right: 31px;
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        padding-left: 43px;
        padding-right: 126px;
        margin-bottom: 32px;
        width: 161px;
      }
    }
  }
  &__contacts {
    box-sizing: content-box;
    top: 347px;
    padding-right: 20px;
    padding-left: 21px;
    @media screen and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) {
      padding-right: 32px;
      padding-left: 31px;
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 1.83;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      margin-bottom: 62px;
      margin-top: 32px;
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $pink-color;
    @media screen and (min-width: 768px) {
      min-width: 162px;
      font-size: 14px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
    }
  }
  &__contacts__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $brawn-color;
    text-decoration: none;
    font-style: normal;
    @media screen and (min-width: 768px) {
      padding-right: 0;
      padding-left: 0;
      font-size: 14px;
      line-height: 1.83;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding-left: 43px;
      padding-right: 44px;
      margin-bottom: 0;
    }
  }
}

.line-first {
  right: 0;
  left: 0;
  margin-left: 20px;
  margin-right: 21px;
  top: 177px;
  border: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-left: 31px;
    padding-right: 32px;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 43px;
    padding-right: 53px;
    margin: auto;
    width: 234px;
  }
}

.line-second {
  height: 0px;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 21px;
  margin-bottom: 25px;
  top: 322px;
  border: 1px solid #e1e1e1;
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    padding-left: 43px;
    padding-right: 53px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 157px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 43px;
    padding-right: 53px;
    margin: auto;
    width: 234px;
  }
}
