// Секция продукты
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit
}

.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.natural {
  font-family: 'Titan One', cursive;
  display: block;
  color: $pink-color;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400px;
  margin-bottom: 15px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.154;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.333;
    letter-spacing: 0.04em;
  }
}

.goods {
  font-family: 'Titan One',
  cursive;
  color: $red-color;
  font-weight: 400px;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-bottom: 144px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 259px;
  }
}

.dots {
  &::before {
    display: flex;
    content: '';
    width: 26px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(60px);
    background-image: url(../images/dots.png);
    
    @media screen and (min-width: 1280px) {
      transform: translateY(70px);
    }
  }
}

.products-name {
  font-family: Titan One;
  color: $white-color;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.133;
    }
}

// Текст секции
.products-description {
  color: $white-color;
  font-weight: 700;
  width: 200px;
  font-size: 12px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    width: 240px;
  }
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: $white-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.products {
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.products-link {
    transition-duration: 250ms;
    transition-timing-function: $timing-func;
}

.products-item {
    display: block;
    height: 450px;
    text-align: center;
    border-radius: 24px;
    position: relative;
    padding-top: 140px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 130px;
      }
    }
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 20px;
      }
      width: 220px;
      height: 485px;
    }

    @media screen and (min-width: 1280px) {
      &:not(:last-child) {
        margin-right: 23px;
      }
      width: 330px;
      height: 525px;
    }
}

.products-picture {
    display: flex;
    justify-content: center;
    transform: translateY(-45%);
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 220px;
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translateY(-65%);
    }
}

.products-item {
    
   &:nth-child(1) {
     background-color: $pink-color;
     width: 100%;
   }

   &:nth-child(2) {
     background-color: $yellow-color;
     width: 100%;
   }

   &:nth-child(3) {
     background-color: $green-color;
     width: 100%;
   }
}
.icon_header_arrow{
  width: 4,43px;
  height: 8px;
  padding-right: 17px;
}



.products-link::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow.png);
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(30px);
  
  @media screen and (min-width: 1280px) {
    transform: translateY(40px);
  }
} 

